<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
    <link rel="icon" href="img/icons8_bus_24px.png">

    <link rel="stylesheet" href="bootstrap-4.4.1/css/bootstrap.min.css">
    <script src="jquery-3.4.1/jquery.min.js"></script>
    <script src="popper-1.16.0/popper.min.js"></script>
    <script src="bootstrap-4.4.1/js/bootstrap.min.js"></script>

    <title>SW TA-II</title>
</head>

<body>
    <!-- Loading -->
    <div class="text-center" id="cargando">
        <img src="img/Hermitcrab.gif" alt="Cargando">
    </div>
    <!-- Content -->
    <div id="contenido">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark small">
            <span class="navbar-brand">
                <b> Tupac Amaru II </b>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/ingresos">Ingreso de dinero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ventas">Venta de combustible </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resumen_global">Resumen Global </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resumen">Resumen por fechas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resumen_x_fechas">Resumen por fechas (Calendario)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporte_semanal">Reporte Semanal (Calendario)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporte_x_bus">Reporte por Bus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buses">Buses </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historial">Historial</a>
                    </li>
                </ul>
            </div>
        </nav>